/* Estilos para el contenedor principal */
.container {
  width: 70%;
  margin: auto;
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

/* Estilos para el título */
.search-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para la barra de búsqueda y el icono de búsqueda */
.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.top-bar input {
  width: 100%;
  max-width: 400px;
  height: 60px;
  border: 2px solid #007bff;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.top-bar input::placeholder {
  color: #aaa;
}

.search-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.search-icon:hover {
  background-color: #f5f5f5;
}

/* Estilos para el botón de guardar */
.button_save button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s;
}

.button_save button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.button_save button:active {
  transform: rotate(360deg);
}

.container-receta {
  width: 100%;
  text-align: center;
  padding: auto;
}

.container-receta p{
  align-items: center;
  padding: 50px;
  border: 1px solid rgb(245, 233, 218);
  text-align: justify;
}

/* Estilos para el contenedor de recetas */
.recipe-list {
  width: 60%;
  margin: auto;
  margin-top: 3%;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  padding: 30px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para el título del acordeón */
.recipe-list h1 {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Estilo para el contenido del acordeón (oculto por defecto) */
.recipe-list ul {
  list-style: none;
  padding: 0;
  display: none;
}

/* Estilo para los elementos de la lista */
.recipe-list li {
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
}

.recipe-list button {
  background-color: #eb2113;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s;
}

.recipe-list button:hover{
  background-color: #0056b3;
  transform: scale(1.05);
}

.recipe-list button:active{
  transform: rotate(360deg);
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 600px) {
  .search-container h1 {
    font-size: 20px;
  }

  .top-bar {
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .button_save button {
    padding: 10px 20px;
    font-size: 16px;
  }
}

/* Estilos para pantallas aún más pequeñas */
@media (max-width: 400px) {
  .search-container h1 {
    font-size: 18px;
  }

  .top-bar {
    padding-top: 10px;
  }

  .top-bar input {
    height: 50px;
    font-size: 16px;
  }

  .button_save button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
